@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --marquee-height: 3rem;
    --nav-height: 3rem;
  }

  body {
    margin: 0;
    padding-top: var(--marquee-height);
    padding-bottom: var(--nav-height);
    background: #fff;
    color: #111;
    font-family: "Times New Roman", Times, serif;
  }
}

@layer components {
  .hero,
  .hero * {
    user-select: none;
  }
}
