---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<main class="mx-auto flex max-w-4xl flex-col gap-8 overflow-hidden px-6 pb-24 pt-12">
		<figure class="relative overflow-hidden border border-neutral-200 bg-white">
			<video
				class="block h-auto w-full"
				src="/cable.mp4"
				autoplay
				muted
				loop
				playsinline
			></video>
			<figcaption class="pointer-events-none absolute left-6 top-6 font-[galmuri7] text-9xl text-white">
				WIP
			</figcaption>
		</figure>
	</main>
</BaseLayout>
