---
import "../styles/global.css";
---
<div
	class="fixed left-0 right-0 top-0 z-[11] flex h-[var(--marquee-height)] overflow-hidden bg-transparent text-black"
    transition:persist
>
	<div
		class="flex min-w-full flex-none items-center gap-10 whitespace-nowrap pl-10 font-[galmuri9] text-[1.1rem] lowercase tracking-[0.18em] animate-marquee"
        transition:persist
	>
		<span>Seoul, KR</span>
		<span>namyang@mit.edu</span>
		<span>U.S. Citizen</span>
		<span>namyang@mit.edu</span>
		<span>Boston, MA</span>
		<span>namyang@mit.edu</span>
		<span>$jhong.sol</span>
		<span>namyang@mit.edu</span>
        <span>Seoul, KR</span>
		<span>namyang@mit.edu</span>
		<span>U.S. Citizen</span>
		<span>namyang@mit.edu</span>
		<span>Boston, MA</span>
		<span>namyang@mit.edu</span>
		<span>$jhong.sol</span>
		<span>namyang@mit.edu</span>
	</div>
</div>
		