---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=DotGothic16&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/galmuri/dist/galmuri.css"
		/>
		<title>Astro</title>
	</head>
	<body>
		<nav
			class="fixed left-0 right-0 top-0 z-10 flex h-16 items-center border-b border-neutral-200 bg-white"
			aria-label="Primary"
		>
			<div class="h-full w-[140px] bg-neutral-200" aria-hidden="true"></div>
		</nav>
		<slot />
	</body>
</html>
